/* navbar, content */

body {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

.hero-section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

.hero-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-section::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 1;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 15px;
    z-index: 10;
    background: transparent !important;
    padding-top: 15px;

    display: flex;
    align-items: center;
}

.container-fluid .nav-left {
    margin-left: 25px;
}

.logo-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.logo-icon i {
    font-size: 2rem;
    color: #FFC107;
}

.logo-text {
    line-height: 1.1;
}

.brand-name a {
    font-size: 1.3rem;
    font-weight: 700;
    color: #d1d5db;
    text-decoration: none;
}

.brand-name span {
    color: #FFC107;
}

.tagline {
    font-size: 0.7rem;
    color: silver;
}

.btn-signin {
    padding: 8px 16px;
    border-radius: 5px;
    margin-right: 20px;
    background: rgba(255, 255, 255, 0.08);
    border: 0.5px solid rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    color: #ffffff !important;
    text-decoration: none;
    font-weight: 500;
    box-shadow:
        0 4px 14px rgba(0, 0, 0, 0.12),
        inset 0 1px 0 rgba(255, 255, 255, 0.08);
    transition: all 0.3s ease;
}

.btn-signin:hover {
    background: rgba(255, 193, 7, 0.18);
    border: 0.5px solid rgba(255, 193, 7, 0.18);
    color: #ffc107 !important;
    transform: translateY(-2px);
    box-shadow:
        0 8px 22px rgba(255, 193, 7, 0.18),
        inset 0 1px 0 rgba(255, 255, 255, 0.1);
}

.avatar1 {
    margin-right: 25px;
}

.avatar1,
.avatar2 {
    cursor: pointer;
    width: 38px;
    height: 38px;
    background: #ffc107;
    color: #000;
    font-weight: 600;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-menu {
    position: absolute;
    top: 55px;
    right: -10px;
    width: 325px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #e5e7eb;
    background: #ffffff;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    z-index: 20;
}

.profile-menu a {
    display: block;
    padding: 8px 12px;
    text-decoration: none;
    color: #111;
    border-radius: 8px;
}

.profile-menu a:hover {
    background: rgba(0, 0, 0, 0.05);
}

.dropdown-user-info .small {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* ===== MOBILE ===== */
@media (max-width: 768px) {

    .hero-section {
        height: 80vh;
    }

    .brand-name a {
        font-size: 1.1rem;
    }

    .tagline {
        font-size: 0.6rem;
    }
}

/* -------------------------------------------------------------------- */

/* ===== FEATURES SECTION ===== */
.features-section {
    padding: 45px 0;
}

.features-section h2 {
    font-size: 2.2rem;
    font-weight: 700;
    color: #111827;
}

.feature-card {
    background: #f1f5f9;
    padding: 25px 20px;
    margin-top: 5px;
    border-radius: 14px;
    border: 1px solid #e5e7eb;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.06);
    transition: all 0.3s ease;
    height: 100%;
    cursor: pointer;
}

.feature-card i {
    font-size: 30px;
    color: #ffc107;
    margin-bottom: 12px;
}

.feature-card h5 {
    font-weight: 600;
    margin-bottom: 8px;
}

.feature-card p {
    font-size: 14px;
    color: #6b7280;
}

.feature-card:hover {
    transform: translateY(-7.5px);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.1);
}


/* Responsive spacing */

@media (max-width: 768px) {

    .features-section .row>div {
        margin-bottom: 20px;
    }

}


/* -------------------------------------------------------------------- */

/* ===== STEPS SECTION ===== */
.steps-section {
    padding: 25px 20px;
    color: #111827;
}

.steps-section h2 {
    font-size: 2.2rem;
    font-weight: 700;
    color: #111827;
}

.steps-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 0;
    position: relative;
}

.step {
    background: #f8fafc;
    border: 1px solid #e5e7eb;
    border-radius: 14px;
    width: 200px;
    padding: 25px 20px;
    text-align: center;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.06);
    transition: 0.3s ease;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.step:hover {
    transform: translateY(-6px);
}

.icon {
    font-size: 2rem;
    margin-bottom: 10px;
}

.step p {
    margin: 0;
    font-size: 0.95rem;
    color: #6b7280;
}

.step:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    width: 60px;
    transform: translateY(-50%);
    border-top: 3px dotted #f59e0b;
}

.step {
    position: relative;
    margin: 10px;
}

/* ===== MOBILE ===== */
@media (max-width: 768px) {
    .steps-container {
        flex-direction: column;
        align-items: center;
    }

    .step:not(:last-child)::after {
        top: 100%;
        left: 50%;
        width: 3px;
        height: 40px;
        border-top: none;
        border-left: 3px dotted #f59e0b;
        transform: translateX(-50%);
    }
}


/* -------------------------------------------------------------------- */

.stats-section {
    padding: 25px 20px;
    background: #ffffff;
}

.stats-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.stats-section h2 {
    font-size: 2.2rem;
    font-weight: 700;
    color: #111827;
}

.stat-card {
    background: #ffffff;
    padding: 30px 25px;
    width: 220px;
    border-radius: 18px;
    border: 1px solid #e5e7eb;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease;
}

.stat-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.08);
}

.icon {
    width: 60px;
    height: 60px;
    margin: 0 auto 15px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
}

/* colors */
.icon.yellow {
    background: rgba(255, 193, 7, 0.15);
    color: #f59e0b;
}

.icon.green {
    background: rgba(34, 197, 94, 0.15);
    color: #22c55e;
}

.icon.purple {
    background: rgba(168, 85, 247, 0.15);
    color: #a855f7;
}

/* text */
.stat-card h3 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 5px;
    color: #ffc107;
}

.stat-card p {
    font-size: 0.95rem;
    color: #6b7280;
}

/* responsive */
@media (max-width: 768px) {
    .stat-card {
        width: 100%;
        max-width: 260px;
    }
}

/* -------------------------------------------------------------------- */

.meaning-section {
    text-align: center;
    padding: 50px 20px;
    background: #fff;
}

.meaning-section h2 {
    font-size: 2.2rem;
    font-weight: 700;
    color: #111827;
    margin-bottom: 20px;
}

.meaning-section span {
    color: #ffb703;
    font-weight: 700;
}

.meaning-section p {
    font-size: 18px;
    color: #555;
    max-width: 750px;
    margin: auto;
    line-height: 1.8;
}

.quote {
    margin-top: 20px;
    font-style: italic;
    color: #1d3557;
}

/* MOBILE RESPONSIVE */
@media(max-width:768px) {

    .meaning-section {
        padding: 60px 18px;
    }

    .meaning-section h2 {
        font-size: 30px;
    }

    .meaning-section p {
        font-size: 16px;
        line-height: 1.7;
    }
}

/* -------------------------------------------------------------------- */

.cta-banner {
    position: relative;
    height: 260px;
    max-width: 1100px;
    margin: 50px auto;
    border-radius: 15px;
    overflow: hidden;

    /* background image */
    background: url('/image/resolveImage.png') center/cover no-repeat;
}

.cta-banner::before {
    content: "";
    position: absolute;
    inset: 0;
}

.cta-content {
    position: relative;
    z-index: 2;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 25px;
}

.cta-btn {
    background: #ffc107;
    color: #000;
    padding: 10px 20px;
    border-radius: 7px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.3s ease;
}

.cta-btn:hover {
    background: #e0a800;
    transform: translateY(-2px);
}

/* responsive */
@media (max-width: 768px) {
    .cta-banner {
        width: 90%;
        max-width: none;
        margin: 40px auto;
        height: 200px;
    }

    .cta-btn {
        padding: 10px 20px;
        font-size: 0.9rem;
    }
}


/* --------------------------------------------------------------- */

.footer {
    background-color: #111827;
    color: #d1d5db;
    padding: 35px 20px 20px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.footer-col {
    flex: 1;
    min-width: 200px;
}

.footer-logo {
    display: flex;
    align-items: center;
}

.logo-text {
    display: flex;
    flex-direction: column;
    line-height: 1.1;
}

.brand-name a {
    font-size: 1.2rem;
    font-weight: 700;
    color: white !important;
    text-align: left;
    text-decoration: none;
}

.tagline {
    font-size: 0.7rem;
    text-align: left;
    color: #9ca3af;
}

.footer-text {
    font-size: 14px;
    color: #9ca3af;
}

.footer-col ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-col li {
    margin-bottom: 8px;
}

.footer-col a {
    color: #d1d5db;
    text-decoration: none;
    display: block;
    transition: 0.3s;
}

.footer-col .links a:hover {
    color: #FFC107;
}

.sub-heading {
    color: #ffffff;
    margin-bottom: 10px;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #9ca3af;
}

/* ===== TABLET ===== */
@media (max-width: 992px) {
    .footer-col {
        flex: 1 1 45%;
    }
}

/* ===== MOBILE ===== */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-logo {
        justify-content: center;
    }
}

/* ===== SMALL MOBILE ===== */
@media (max-width: 480px) {
    .footer-text {
        font-size: 13px;
    }

    .footer-bottom {
        font-size: 12px;
    }
}